name: Monkeytype Readme

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: write

jobs:
  update-readme:
    name: Update README
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: vnphanquang/monkeytype-readme@main
        with:
          monkeytype_api_key: ${{ secrets.MONKEYTYPE_API_KEY }}
          mode: 'time'
          mode2: '30'
          style: 'flat'
          logoVariant: 'one'
          label: 'monkeytype'
